.header-container {
    display: flex;
    justify-content: space-between;
    margin: 1em 6em;
    font-weight: 500;
    align-items: center;

}
.header-logo{
    display: flex;
    align-items: center;
    gap:0.5em;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--logo-color);
    margin-right: 8em;
}

.header-menu{
    margin-right: auto;
}

.header-list{
    display: flex;
    gap: 3em;
    text-decoration: none;
    
}

.header-list__link {
    text-decoration: none;
    color: inherit;

}

.header-auth-links{
    display: flex;
    gap: 2em;
    color: inherit;
    align-items: center;
}

.header-signup-btn {
    text-decoration: none;
    color:var(--white-color-btn);
    padding: 1em ;
    background-color: var(--accent-color);
    border-radius: .5rem;
}
